footer.d-flex 
	p.text-center You can learn about the information that we may process about you, and how we use your information, <a class="" href="https://privacy.gsk.com/en-gb/privacy-notice/general/" target="_blank">click here</a>. You can also view our terms of use, and policy statement <a class="" href="https://www.gsk.com/en-gb/terms-of-use/" target="_blank">click here</a>, Cookie policy <a class="" href="https://www.gsk.com/en-gb/cookie-policy/" target="_blank">click here</a>. Trademarks are owned by or licensed to the GSK group of companies.<br>Copyright © GlaxoSmithKline 2023. 
	a(href="", class="footLogo") 
		img(src=images+"gsk-logo.svg", alt="")