//- page-a.pug

extends ../templates/layout-sub.pug

block variables
	-var title = "Home"
	-var desc = "Home Page"
	-var keywords = "Home,Page"
	-var pageRole = "sub"
	

block header 
	include ../includes/header.pug


block content
	
block scripts
	script. 
		//- alert();
		